body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightsteelblue;
}

h1{
    text-align: center;
}

nav{
    background-color: azure;
    padding:20px;
    line-height: 10px;
}

nav a{
    color:gray;
    text-align:center ;
    text-decoration: none;
    word-spacing: 50px;
}

.product{
    text-align: center;
    background-color: white;
}

.products{
    background-color:lightslategray;
    width: 300px;
    text-align: center;
}


